table {
	cursor: pointer;
}

mark {
	background-color: yellow;
}

.window {
	overflow-x: auto; 
}

.list-inline, .input-group{
	margin: 5px;
}

.description {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #fff;
	margin: 0;
}

.description.top {
	top: 0;
	bottom: auto;
}

.description li {
	margin: 5px;
	padding: 5px; 
}

.page-button {
	width: 50px;
}

.tr.selected {
	background-color: rgba(0, 0, 0, 0.075);
}

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("30.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.failure-text {
	text-align: center;
	background-color: red;
	border-radius: 15px;
	color: white;
}

